body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #2e3e83;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #ffdfdf;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  img {
    width: 400px;
    height: 800px;
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 10px;
    color: #666060;
  }
  
  p {
    color: #777;
  }

  h3 {
    margin-top: auto;
    color:#222121
  }