* {
    scroll-behavior: smooth;
}
body{
    color: rgb(255, 255, 255) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden !important; 
}
.page4{
    margin-top: 35px;
}
.page4 hr{
    border: 2px solid white;
    margin-top: -15px;
}
.page4 h3{
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}
.list{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.musik{
    margin-top: 10px;
    padding: 7px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 23px;
    background-color: #0099FF;
}

.musik:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: .3s;
}