@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
}

body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.main-container {
    margin-bottom: 10px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 14px 30px;
}
.logo img {
    width: 130px;
}
.search {
    display: flex;
    align-items: center;
    border: 2px solid #333;
    padding: 5px 10px;
    border-radius: 25px;
    margin-left: 350px;
}
.search input {
    background: none;
    border: none;
    color: #fff;
    outline: none;
    padding: 5px;
    width: 200px;
}
.search i {
    color: #1DB954;
    cursor: pointer;
    margin-left: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
    
}

.user-profile img {
    max-width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 450px;
}
.user-profile span {
    font-weight: bold;

}
a{
    text-decoration: none;
    color: #ffffff;
}
.topbar .navbar  {
    display: flex;
    align-items: center;
}


.spotify-playlists {
    padding: 20px 20px;
}

.spotify-playlists h2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

.spotify-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlists .list .item {
    min-width: 140px;
    width: 100px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover {
    background-color: #252525;
}



.spotify-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlists .list .item .play {
    position: relative;
}

.audio-player {
    display: none;
}

.play-button {
    cursor: pointer;
    background-color: #1DB954;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.play-button i {
    font-size: 16px;
}

.audio-progress {
    height: 4px;
    background: #e1e1e1;
    position: relative;
    top: -5px;
    margin-top: 10px;
}

.audio-progress-bar {
    height: 100%;
    background: #1DB954;
}

.spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}