/* Ini adalah gaya untuk tautan yang belum dikunjungi */
a:link {
    color: blue; /* Warna tautan sebelum dikunjungi */
    text-decoration: none; /* Menghapus garis bawah default */
  }
  
  /* Ini adalah gaya untuk tautan yang sudah dikunjungi */
  a:visited {
    color: purple; /* Warna tautan setelah dikunjungi */
    text-decoration: none; /* Menghapus garis bawah default */
  }
  
  /* Ini adalah gaya untuk tautan saat mouse mengarah padanya */
  a:hover {
    color: red; /* Warna tautan saat mouse mengarah padanya */
    text-decoration: underline; /* Menampilkan garis bawah saat mouse mengarah padanya */
  }
  
  /* Ini adalah gaya untuk tautan saat diklik */
  a:active {
    color: green; /* Warna tautan saat diklik */
    text-decoration: underline; /* Menampilkan garis bawah saat diklik */
  }
  