body {
  font-family: Arial, sans-serif;
  background-color: #393939;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

img {
  width: 400px;
  height: 800px;
  border-radius: 5px;
}

h2 {
  margin-top: 10px;
  color: #333;
}

p {
  color: #777;
}
