body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkturquoise;
    margin: 0px;
    padding: 20px;
}
h1{
    text-align: center;
    color: white;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: cornflowerblue;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }