* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}

.wrapper {
  padding: 1rem 2%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1db954;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #1db954;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #1db954;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #1db954;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.player {
  height: 100vh;
  background-color: #222;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 6px 5px black;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: -0.8rem;
}

.track-artist {
  margin-top: 5px;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.active {
  color: black;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
  color: #1db954;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slinderman {
  display: flex;
  flex-direction: row;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #fff;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.seek_slider:hover,
.volume_slider:hover {
  background-color: #1db954;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #fff;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}

.randomActive {
  color: #1db954;
}