nav{
    font-family: monospace;
}
div {
  font-family: monospace;
}
.judul{
  text-align: center;
  font-size: 33px;
}
h1{
  font-size: large;
  font-family: monospace;
}
.pokoknyapening{
  padding-left: 2rem;
}
.fontnye{
  font-size: 16px;
}
.videonye{
  padding: 1%;
}